POSTGRES_USER=hangman
POSTGRES_PASSWORD=changeme
POSTGRES_DB=hangman
VITE_API_BASE_URL=/api
SECRET_KEY=_generate_secret_key

# Overwritten in compose for Docker
DATABASE_URL=postgresql+psycopg://hangman:changeme@localhost:5432/pokemon_hangman

# Resend mailing
RESEND_API_KEY=_Resend_mail_service_api_key