{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
    <h1>Play!</h1>
    <h2>Guess the Pokémon to catch it!</h2>
    <h2>
        {% for _ in range(attempts) %}
            <img src="static/images/pixel_heart.svg" width="75px" style="image-rendering: pixelated">
        {% endfor %}
    </h2>
        <img src="{{ pokemon_url }}" width="300px" style="image-rendering: pixelated; filter: brightness(0.00)">
    <h2 id="pokemon-name">{{ ''.join(regex_sub) }}</h2>

    <form action="{{ url_for('game') }}" method="post">
        {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
            {% if letter in used_letters %}
                <button disabled class="letter-button">{{ letter }}</button>
            {% else %}
                <button name="letter" class="letter-button" value="{{ letter }}">{{ letter }}</button>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}